body{
position:relative;
}
p{
line-height: normal;
}
a{
text-decoration:none;
color:#fff;
}

img{
max-width:100%;
}
.glyphicon{
font-size:18px;
top:4px;
padding:0px 10px;
}
/*header css*/

header{
width:100%;
height: 75px;
background-color:#a1a105;
position:relative;
}

.logo{
width:88px;
float:left;
margin: -5px 0;
}

.frmNav{
float:right;
list-style:none;
margin: 0;
padding: 0;
text-align:center;
}
.frmNav li{
padding: 27px 10px;
float:left;
margin:0px;
}
.frmNav a{
text-transform:uppercase;
}
.frmNav li:hover, .frmNav li a:hover{
background-color:#000;
color:#fff;
text-decoration:none;
}
.frmNav .login{
background-color:#fff;
}
.login a{
color:#a1a105;
}

/*Home page css*/

#homePage{
position:relative;
float:left;
background:url('../images/HomepageBackground.jpg') no-repeat;
width:100%;
background-size: 100% auto;
background-position: center top;
display: table;
margin-bottom: -10px;
}

.formContainer{
display: table-cell;
vertical-align: middle;
text-align:center;
width:40%;
margin:0px auto;
}
.form-group h1,.form-group p{
color:#fff;
}
.form-group p{
font-weight:normal;
font-size:20px;
}
.btn{
font-size: 18px;
}
.btn-primary {
    background-color: #a1a105;;
    border-color: #9d9d07;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #acac05;
    border-color: #9d9d07;
}

/*property finder*/

#findroomForm, #findmateForm{
width:100%;
height:250px;
position:relative;
background:#000;
}

.searchForm{
padding:60px 150px;
}

#findroomForm label{
color:#fff;
}

#findroomForm input[type="checkbox"]{
margin:-6px 0 0;
}

.frmTable td{
padding:6px 10px;
color:#fff;
}
.imgCount{
background-color:#121212;
opacity:0.5;
position:absolute;
bottom:0px;
right:0px;
border-radius:5px;
}
.imgCount span{
color:#fff;
padding:0px 5px;
opacity:1;
}
.propImg{
position:relative;
}
/*wrapper*/
.propDetails{
position:relative;
}
.frmColor{
color:#a1a105;
}

.featureBox{
background-color: #a1a105;;
border-color: #9d9d07;
color: #fff;
display:inline-block;
border-radius:10px;
margin:0px 5px;
}
.featureBox:hover{
background-color: #acac05;
}

.featureBox span{
padding:6px 10px;
display:block;
}
.profImg img{
border:1px solid e3e3e3;
}
.profDetails{
margin:10px 0px;
}
.profDetails p{
line-height:0;
padding-bottom:5px;
}

/*Find flat mate*/

#findmateForm .searchForm{
padding:34px 150px;
}

.wrapperContainer{
margin-top:10px;
}

.detailsTable td{
padding:0px 20px 0px 0px;
}
.tagDetails{
margin-top:10px;
}
.tagDetails p, .similarMates p{
font-size:14px;
margin:0px;
line-height:18px;
}
.tagImg{
width:125px;
}

/*Footer*/

footer{
background:#121212;
clear:both;
position: relative;
float:left;
width: 100%;
margin-top:10px;
box-shadow: 1px -2px 1px #acac05;
}

#footerWrapper{
width:1000px;
margin:0px auto;
text-align:center;
}
p.heading {
    color: #999999;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 10px;
}
footer a {
    clear: both;
    color: #999999;
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 20px;
    padding-right: 10px;
    text-decoration: none;
}
footer a:hover{
color:#8cc717;
text-decoration:none;
}
footer .glyphicon{
font-size: 0.85em;
top: 0;
}

.col{
border-right: 1px solid #6c6c6c;
float: left;
margin: 10px 15px;
padding-right: 20px;
width: auto;
text-align:left;
}
.noborder{
border:none;
}

/*Modal box*/

.ModalCover{
width:100%;
background:url('../images/modelBg.png');
position:fixed;
z-index:10;
top:1px;
left:1px;
display:none;
}

.ModalContainer{
display:table-cell;
text-align: center;
position:relative;
top: 10%;
}
.closeIcon{
position:absolute;
color:#fff;
right: 23%;
top: -2%;
}
.bx-prev, .bx-next{
position:absolute;
top:22%;
background:url('../images/arrows.png')no-repeat;
width:45px;
height:40px;
text-indent: 999999px;
}
.bx-prev{
left:22%;
background-position:0% 0px;
}
.bx-next{
right:22%;
background-position:0px -46px;
}

/*hack*/

.noBorder{
border:none !important;
}

.smallBox{
width:50px;
display:inline-block;
}

.borderRight{
border-right:1px solid #e3e3e3;
}

.borderBottom{
border-bottom:1px solid #e3e3e3;
padding:10px;
}

.alignCenter{
text-align:center;
}